<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/partials/footer.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9ba05cd871.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="info-discord">
        <div class="discord">
            <a href="https://discord.gg/FWem24gc">
                <i class="fa-brands fa-discord"></i> Entre no grupo do discord e faça parte da comunidade
            </a>
        </div>
    </div>
    <br>
    <br>
    <footer>
        <br>
        <div class="media-dad">
            <div class="socialmedia">
                <ul>
                    <li>
                        <a href="https://github.com/Debugracee">
                            <i class="fa-brands fa-github"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/debugrace/">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/debugrace/">
                            <i class="fa-brands fa-square-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <br>
        <div class="etc">
            <div class="footer-logo">
                <a href="/pagina-inicial"><img src="../svg/logo.svg" alt=""></a>
            </div>
        </div> <br>
        <div class="copyright">
            &copy;Todos os direitos reservados.
        </div>
        </div>

    </footer>
</body>

</html>