<footer>
    <div class="content-footer">
    <div class="conceito">
        <h6>
                a debugrace é uma organização sem fins lucrativos com um único objetivo de ajudar as pessoas
                a entrar no mundo da tecnologia de forma totalmente gratuita, compartilhando varios recursos 
                de qualidade que são disponibilizados na internet sem que necessite gastar para poder aprender, 
                como livros, bootcamps ou cursos, por exemplo, ajudando-as a se tornarem autodidatas e deixando-a 
                livre para estudar da sua maneira e no seu tempo.
        </h6>
    </div>
    <div class="socialmedia">
        <h5 class="socialmedia-h5">
            Redes Sociais
        </h5>
        <ul>
            <li>
                <a href="https://web.facebook.com/home.php">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/">
                    <i class="fa-brands fa-instagram"></i> 
                </a>
            </li>
            <li>
                <a href="https://twitter.com/home">
                    <i class="fa-brands fa-twitter"></i> 
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/feed/">
                    <i class="fa-brands fa-linkedin-in"></i> 
                </a>
            </li>
        </ul>
    </div>


    <div class="copyright">
            <h6>&copy debugrace 2022</h6>
    </div>  
</div>

    <div class="palavrinhas">
            <h4>de.bu.gar</h4>
                <h5>"A arte de remover os bugs de um sistema"</h5>
            <h4>pro.gra.mar</h4>
                <h5>"A arte de criar os bugs de um sistema"</h5>
    </div>
</footer>