<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/DEBUGRACE-Frontend1/public/css/partials/header1.css" />
  </head>
  <body>
    <header>
      <nav class="navbar">

        <a class="navbar-brand" href="/pagina-inicial"><img class="d-inline-block align-center logo w3-panel" src="../img/logo.png" alt="debugrace"/></a>
        
        <!-- <button aria-label="Abrir menu" id="btn-mobile" aria-controls="menu" aria-haspopup="true" aria-expanded="false">Menu
            <span id="hamburguer"></span>
        </button> -->
      
          <div class="nav justify-content-end">

          <div class="nav-item">
            <a class="nav-link" href="/guia-estudos">GUIAS DE ESTUDOS</a>
          </div>

          <div class="nav-item">
            <a id="item0" class="nav-link" href="#">QUEM SOMOS</a>
          </div>

          <div class="nav-item">
            <a id="item1" class="nav-link" href="/cadastro">CADASTRE-SE</a>
          </div>

          <div class="nav-item">
            <a id="item2" class="nav-link entrar" href="/login">ENTRAR</a>
          </div>

          
        </div>
      </nav>
    </header>
  </body>
</html>
