<header class="container-fluid cabecalho"> <!-- header--> <!-- nao exclui o "container fluid"-->
    <a href="/pagina-inicial"> <img class="imagem-cabecalho" src = "svg/logo.svg" alt="Logo debugrace"></a>  <!--o alt é pra aparecer algo caso a foto não carregue-->
        <nav class="cabecalho-menu-item">
            <a class="cabecalho-menu-item"> Blog</a>
                <a class="cabecalho-menu-item">Quem somos</a>
                    <a id="Guia" class="cabecalho-menu-item" href="/guia-estudos">Guia de estudos</a>
                        <a href="/cadastro" class="cabecalho-menu-item">Criar conta</a>
                             <a href="/login" class="cabecalho-menu-item">Entrar</a>
    </nav>
</header>