<header class="container-fluid cabecalho">
    <a href="/pagina-inicial"> <img class="imagem-cabecalho" src = "svg/logo.svg" alt="Logo debugrace"></a>  <!--o alt é pra aparecer algo caso a foto não carregue-->
     <nav class="cabecalho-menu-item">
         <a href="/pagina-inicial" class="cabecalho-menu-item"> Voltar à página inicial</a>
</header>