<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>debugrace - Cadastro</title>
      <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="css/cadastro.css">
<script src="https://kit.fontawesome.com/b9c1a80e37.js" crossorigin="anonymous"></script>
</head>
<body>
  <%- include('./partials/header2')%>
    <form id="form">
        <div class="container">
            <div class="container-top">
                <h2> Registrar-se </h2>
                <p> Pronto para iniciar um novo aprendizado? </p>
            </div>
            <!--<div class="container-groups">-->
                <div class="form-container">
                    <label><strong><i class="fa-solid fa-user"></i> Nome completo</strong></label>
                    <input id="nome" name="nome" type="text" title="Seu Nome" placeholder="Digite seu nome completo">
                    <small> Mensagem de Erro </small>
                </div>

                <div class="form-container">
                    <label><strong><i class="fa-solid fa-at"></i> Email</strong></label>
                    <input id="email" name="email" type="email" title="Seu Email" placeholder="Digite seu Email">
                    <small></small>
                </div>

            <div class="form-container">
                <label><strong><i class="fa-solid fa-cake-candles"></i> Data de nascimento</strong></label>
                <input id="date" type="date" title="Data" placeholder="DD/MM/AAAA">
            </div>

            <div class="form-container">
                <label><strong><i class="fa-solid fa-transgender"></i> Gênero</strong></label>
                <input id="gender" name="gender" type="text" title="Seu gênero" placeholder="Informe seu gênero">
                <small></small>
            </div>

            <div class="form-container">
                <label> <strong><i class="fa-solid fa-unlock-keyhole"></i> Crie uma senha</strong></label>
                <input id="password" name="password" type="password" title="Sua senha" placeholder="Crie uma senha">
                <small></small>
            </div>

            
            <div class="return-to-login">
                <a href="/login">Já tem conta?</a>
            </div>

            <div class="container-button">
                <button  id="check" type="submit" title="Cadastrar"> Cadastrar </button>
            </div>
            
        </div>
    </form>
    <footer>
        <div class="conceito">
            <h6>
                    a debugrace é uma organização sem fins lucrativos com um único objetivo de ajudar as pessoas
                    a entrar no mundo da tecnologia de forma totalmente gratuita, compartilhando varios recursos 
                    de qualidade que são disponibilizados na internet sem que necessite gastar para poder aprender, 
                    como livros, bootcamps ou cursos, por exemplo, ajudando-as a se tornarem autodidatas e deixando-a 
                    livre para estudar da sua maneira e no seu tempo.
            </h6>
        </div>
        <div class="palavrinhas">
                <h4>de.bu.gar</h4>
                    <h5>"A arte de remover os bugs de um sistema"</h5>
                <h4>pro.gra.mar</h4>
                    <h5>"A arte de criar os bugs de um sistema"</h5>
        </div>
        <div class="socialmedia">
            <h5 class="socialmedia-h5">
                Redes Sociais
            </h5>
            <ul>
                <li>
                    <a href="https://web.facebook.com/home.php">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/">
                        <i class="fa-brands fa-instagram"></i> 
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/home">
                        <i class="fa-brands fa-twitter"></i> 
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/feed/">
                        <i class="fa-brands fa-linkedin-in"></i> 
                    </a>
                </li>
            </ul>
        </div>
        <div class="copyright">
                <h6>debugrace 2022 <i class="fa-regular fa-copyright"></i></h6>
            </div>
        </div>

    </footer>

    <script src="js/cadastro.js"></script>
</body>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</html>