<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Ciclo Básico </title>
    <link href="../css/ciclo-basico.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9ba05cd871.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="logo">
            <a> <img src="../svg/logo.svg"> </a>
        </div>
            <nav class="menu">
                <a href="/pagina-inicial"> Página inicial </a>
                <a href="cadastro"> Criar conta </a>
                <a href="/login"> Entrar </a>
            </nav>
    </header>

    <!-- 2 header -->
    <section class="painel">
            <div class="painel-text">
                <img src="../svg/guia-estudos.svg" alt="guia-estudos(title)">
                    <p> Ele possui conteúdos organizados em trilhas de conhecimentos fundamentais para um programador </p>
            </div>
                <div class="painel-img">
                    <img src="../svg/header2.svg">
                </div>
    </section>

    <main class="content-page">

        <h3> Conteúdos </h3>

        <button>
            <img src="../svg/logicaDeProgramacao.svg">
            <span> iiii </span>
        </button>

        <div id="text">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia in error, iure et tempora cum harum, est omnis assumenda temporibus quae repellat illo cupiditate? Praesentium officia a voluptate minima deleniti eaque porro aperiam! Nulla tempore earum ea nam omnis tempora consequuntur placeat, repellat hic incidunt ad sapiente quam veniam laborum!Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia in error, iure et tempora cum harum, est omnis assumenda temporibus quae repellat illo cupiditate? Praesentium officia a voluptate minima deleniti eaque porro aperiam! Nulla tempore earum ea nam omnis tempora consequuntur placeat, repellat hic incidunt ad sapiente quam veniam laborum!Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia in error, iure et tempora cum harum, est omnis assumenda temporibus quae repellat illo cupiditate? Praesentium officia a voluptate minima deleniti eaque porro aperiam! Nulla tempore earum ea nam omnis tempora consequuntur placeat, repellat hic incidunt ad sapiente quam veniam laborum!Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia in error, iure et tempora cum harum, est omnis assumenda temporibus quae repellat illo cupiditate? Praesentium officia a voluptate minima deleniti eaque porro aperiam! Nulla tempore earum ea nam omnis tempora consequuntur placeat, repellat hic incidunt ad sapiente quam veniam laborum!</p>
            <a href="#"> Acessar conteúdo </a>
        </div>

        <button>
            <img src="../svg/logicaDeProgramacao.svg">
            <span> iiii </span>
        </button>

        <div id="text">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia in error, iure et tempora cum harum, est omnis assumenda temporibus quae repellat illo cupiditate? Praesentium officia a voluptate minima deleniti eaque porro aperiam! Nulla tempore earum ea nam omnis tempora consequuntur placeat, repellat hic incidunt ad sapiente quam veniam laborum!Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia in error, iure et tempora cum harum, est omnis assumenda temporibus quae repellat illo cupiditate? Praesentium officia a voluptate minima deleniti eaque porro aperiam! Nulla tempore earum ea nam omnis tempora consequuntur placeat, repellat hic incidunt ad sapiente quam veniam laborum!Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia in error, iure et tempora cum harum, est omnis assumenda temporibus quae repellat illo cupiditate? Praesentium officia a voluptate minima deleniti eaque porro aperiam! Nulla tempore earum ea nam omnis tempora consequuntur placeat, repellat hic incidunt ad sapiente quam veniam laborum!Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia in error, iure et tempora cum harum, est omnis assumenda temporibus quae repellat illo cupiditate? Praesentium officia a voluptate minima deleniti eaque porro aperiam! Nulla tempore earum ea nam omnis tempora consequuntur placeat, repellat hic incidunt ad sapiente quam veniam laborum!</p>
            <a href="#"> Acessar conteúdo </a>
        </div>
        
        <button>
            <img src="../svg/logicaDeProgramacao.svg">
            <span> iiii </span>
        </button>

        <div id="text">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia in error, iure et tempora cum harum, est omnis assumenda temporibus quae repellat illo cupiditate? Praesentium officia a voluptate minima deleniti eaque porro aperiam! Nulla tempore earum ea nam omnis tempora consequuntur placeat, repellat hic incidunt ad sapiente quam veniam laborum!Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia in error, iure et tempora cum harum, est omnis assumenda temporibus quae repellat illo cupiditate? Praesentium officia a voluptate minima deleniti eaque porro aperiam! Nulla tempore earum ea nam omnis tempora consequuntur placeat, repellat hic incidunt ad sapiente quam veniam laborum!Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia in error, iure et tempora cum harum, est omnis assumenda temporibus quae repellat illo cupiditate? Praesentium officia a voluptate minima deleniti eaque porro aperiam! Nulla tempore earum ea nam omnis tempora consequuntur placeat, repellat hic incidunt ad sapiente quam veniam laborum!Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia in error, iure et tempora cum harum, est omnis assumenda temporibus quae repellat illo cupiditate? Praesentium officia a voluptate minima deleniti eaque porro aperiam! Nulla tempore earum ea nam omnis tempora consequuntur placeat, repellat hic incidunt ad sapiente quam veniam laborum!</p>
            <a href="#"> Acessar conteúdo </a>
        </div>
    </main>
    </body>
    </html>