<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configurações da conta - Debugrace</title>
       <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="css/estiloconfig.css">
<script src="https://kit.fontawesome.com/b9c1a80e37.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
              <div class="col">
                <a href="#" class="config">
                    <i class="fa-solid fa-gear"></i>
                </a>
              </div>
              <div class="col-10">
                <a href="index.html">
                    <img class="titulo" src= "assets/svg/debugracelogo.svg" alt="Logo debugrace"> 
                </a>
              </div>
              <div class="col">
                <a href="#" class="user">
                    <i class="fa-regular fa-user"></i>
                </a>
              </div>
            </div>
          </div>
<!-- ANTIGA HEADER/ALTERNATIVA DE LOGO        
    <div class="titulo">
            <img class="titulo" src= "assets/svg/debugracelogo.svg" alt="Logo debugrace"> 
                <a href="#" class="user"><i class="fa-regular fa-user"></i></a>
        </div>
-->
        <div class="container">
            <div class="row">
                <div class="col-7">
                    <h1 class="text">CONFIGURAÇÕES DA CONTA</h1>
                </div>
                <div class="col-5">
                    <img class="configlogo" src= "assets/svg/configdaconta.svg" alt="Configurações da conta">
                </div>
            </div>
        </div> 
        <!-- 
        <h1>
            CONFIGURAÇÕES DA CONTA
            <img class="configlogo" src= "assets/svg/configdaconta.svg" alt="Configurações da conta">
        </h1>
    -->
    </header>
    <br></br>
    <form id="form" method="post">
        <div class="alteranome">
            <label><strong>Nome</strong></label></br>
            <input id="nome" name="nome" type="text" title="Alterar seu nome">
            <small>Mensagem de erro</small>
            <button class="editar" type="submit" title="Editar">Editar</button>
        </div>
        </br>
        
        <div class="alteraemail">
            <label><strong>Email</strong></label></br>
            <input id="email" name="email" type="email" title="Alterar seu email">
            <button class="editar" type="submit" title="Editar">Editar</button>
            <small>Mensagem de erro</small>
        </div>
        </br>

        <div class="alteranascimento">
            <label><strong>Gênero</strong></label></br>
            <input id="gender" name="gender" type="text" title="Alterar informações de gênero">
            <button class="editar" type="submit" title="Editar">Editar</button>
            <small>Mensagem de erro</small>
        </div>
        </br>

        <div class="alterasenha">
            <label> <strong>Senha</strong></label></br>
            <input id="password" name="password" type="password" title="Altere sua senha">
            <button class="editar" type="submit" title="Editar">Editar</button>
            <small>Mensagem de erro</small>
        </div>
        </br>
        <div class="confirma">
            <button class="check-button" type="submit" title="Salvar">Salvar alterações</button>
            <a class="delete" href="#">Deletar conta</a>
        </div>
    </form>
</body>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</html>