<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Configurações da conta - Debugrace</title>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="css/configuracoes.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/b9c1a80e37.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="../css/partials/header1.css">
        <script src="https://kit.fontawesome.com/b9c1a80e37.js" crossorigin="anonymous"></script>
       
    </head>
<body style="background-color: #9ea6c1ad;">
    <!--HEADER-->
    <header>
        <nav class="navbar">
  
          <a class="navbar-brand" href="/pagina-inicial"><img class="d-inline-block align-center logo w3-panel" src="../img/logo.png" alt="debugrace"/></a>
          
          <!-- <button aria-label="Abrir menu" id="btn-mobile" aria-controls="menu" aria-haspopup="true" aria-expanded="false">Menu
              <span id="hamburguer"></span>
          </button> -->
        
            <div class="nav justify-content-end">
  
            <div class="nav-item">
              <a class="nav-link" href="/guia-estudos">GUIAS DE ESTUDOS</a>
            </div>
  
            <div class="nav-item">
              <a id="item0" class="nav-link" href="#">QUEM SOMOS</a>
            </div>
  
            <div class="nav-item">
              <a id="item1" class="nav-link" href="/cadastro">CADASTRE-SE</a>
            </div>
  
            <div class="nav-item">
              <a id="item2" class="nav-link entrar" href="/login">ENTRAR</a>
            </div>
  
            
          </div>
        </nav>
      </header>
    <!--HEADER-->
    <section class="header">
        <br>
        <div class="container">
            <div class="row">
                <div class="col-7">
                    <h1 class="text">CONFIGURAÇÕES DA CONTA</h1>
                </div>
                <div class="col-5">
                    <img class="configlogo" src= "svg/configdaconta.svg" alt="Configurações da conta">
                </div>
            </div>
        </div> 
    </section>

    <br></br>
    <form id="form">
        <div class="alteranome">
            <label><strong>Nome</strong></label></br><br>
            <input id="nome" name="nome" type="text" title="Alterar seu nome" disabled>
            <small>Mensagem de erro</small>
            <button id="btnNome" class="editar" type="button" title="Editar">Editar</button>
        </div>
        </br>
        
        <div class="alteraemail">
            <label><strong>Email</strong></label></br><br>
            <input id="email" name="email" type="email" title="Alterar seu email" disabled>
            <button id="btnEmail" class="editar" type="button" title="Editar">Editar</button>
            <small>Mensagem de erro</small>
        </div>
        </br>

        <div class="alteranascimento">
            <label><strong>Nascimento</strong></label></br><br>
            <input id="data" name="data" type="date" title="Alterar informações de gênero" disabled>
            <button id="btnData" class="editar" type="button" title="Editar">Editar</button>
            <small>Mensagem de erro</small>
        </div>
        </br>

        <div class="alteranascimento">
            <label><strong>Gênero</strong></label></br><br>
            <input id="gender" name="gender" type="text" title="Alterar informações de gênero" disabled>
            <button id="btnGender" class="editar" type="button" title="Editar">Editar</button>
            <small>Mensagem de erro</small>
        </div>
        </br>

        <div class="alterasenha">
            <label> <strong>Senha</strong></label></br><br>
            <input id="password" name="password" type="password" title="Altere sua senha" disabled>
            <button id="btnSenha" class="editar" type="button" title="Editar">Editar</button>
            <small>Mensagem de erro</small>
        </div>
        </br>
        <div class="confirma">
            <button id="btnSalvar" class="check-button" title="Salvar">Salvar alterações</button>
            <a id="btnDelete" class="delete">Deletar conta</a>
        </div>
    </form>

    <div id="container-modal" class="container-modal">
        <div id="modal" class="modal">
            <div class="modal-close">
                <i id="x" class="x fa-solid fa-xmark fa-3x"></i></i>
            </div>
            <p>
                Você realmente deseja não fazer mais parte da debugrace😨?
            </p>
            <div class="btns">
                <button id="delete" class="btnDelete"> Dizer Adeus😭</button> 
                <button class="btnCancel"> Cancelar🙂</button>
            </div>
        </div>
    </div>

     <script src="js/configuracoes.js"> </script>
</body>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</html>