<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <input id="title" type="text" placeholder="titulo do post">
        <input id="content" type="text" placeholder="conteudo do post">
        <button type="submit"> Criar post </button>
    </form>
    <script src="js/createPosts.js"></script>
</body>
</html>