<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="form">
        <input id="title" name="title" type="text" title="Titulo do post" placeholder="Digite um titulo para o post">
        <input id="content" name="content" type="text" title="Conteúdo do post" placeholder="Digite um o post">
        <button type="submit"> Criar post </button>
    </form>
    <script src="js/createPosts.js"></script>
</body>
</html>