<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guia de estudos</title>
    <link href="css/guia-estudos.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9ba05cd871.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="logo">
            <a href="/pagina-inicial"> <img src="svg/logo.svg"> </a>
        </div>
            <nav class="menu">
                <a href="/pagina-inicial"> Página inicial </a>
                <a href="cadastro"> Criar conta </a>
                <a href="/login"> Entrar </a>
            </nav>
    </header>

    <!-- 2 header -->
    <section class="painel">
            <div class="painel-text">
                <img src="svg/guia-estudos.svg" alt="guia-estudos(title)">
                    <p> Ele possui conteúdos organizados em trilhas de conhecimentos fundamentais para um programador </p>
            </div>
                <div class="painel-img">
                    <img src="svg/header2.svg">
                </div>
    </section>

    <main class="content-page">
        <button id="btn-cicloBasico"> 
          <div class="btn-title"> 
              <img src="svg/guia-basico.svg" alt="guia-basico">
        </div> 
              <div id="content-cicloBasico"> 
           <p>Lorem ipsum, dolor sit amet consect Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis velit maxime fugit nemo vero possimus nisi deleniti ratione officiis inventore dolores dignissimos distinctio maiores vel, libero ut sint, debitis rerum?Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, omnis! Asperiores, quod suscipit quas, fugiat vel consequuntur minus quo rem ea similique nobis dolore! Quis iusto quod hic quia aspernatur.
           </p>
           <a href="/guia-estudos/ciclo-basico"> Acesssar conteúdos do Ciclo Básico </a>
        </div>
        </button>

      

        <button id="btn-frontEnd"> 
            <div class="btn-title">
                <img src="svg/guia-frontend.svg" alt="guia-basico">
        </div>

             <div id="content-frontEnd"> 
           <p>Lorem ipsum, dolor sit amet consect Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis velit maxime fugit nemo vero possimus nisi deleniti ratione officiis inventore dolores dignissimos distinctio maiores vel, libero ut sint, debitis rerum?Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, omnis! Asperiores, quod suscipit quas, fugiat vel consequuntur minus quo rem ea similique nobis dolore! Quis iusto quod hic quia aspernatur.
           </p>
           <a href="/guia-estudos/front-end"> Acesssar conteúdos de FrontEnd </a>
        </div>
        </button>

       

        <button id="btn-backEnd">
            <div class="btn-title">
            <img src="svg/guia-backend.svg" alt="guia-basico">
        </div>
             <div id="content-backEnd"> 
           <p>Lorem ipsum, dolor sit amet consect Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis velit maxime fugit nemo vero possimus nisi deleniti ratione officiis inventore dolores dignissimos distinctio maiores vel, libero ut sint, debitis rerum?Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, omnis! Asperiores, quod suscipit quas, fugiat vel consequuntur minus quo rem ea similique nobis dolore! Quis iusto quod hic quia aspernatur.
           </p>
           <a href="/guia-estudos/back-end"> Acesssar conteúdos de BackEnd </a>
        </div>
        </button>
    </main>

    <%- include('./partials/footer')%>

    <script src="js/guia-estudos.js"></script>

</body>

</html>