<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/b9c1a80e37.js" crossorigin="anonymous"></script>
        <link href="../css/partials/footer.css"  rel="stylesheet">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link href="css/home.css" rel="stylesheet"> 
        <link rel="stylesheet" href="css/partials/header1.css">
        <title>Debugrace</title>
    </head>

    <body>
        <!--HEADER-->
        <%- include('./partials/header1') %>
        <!--HEADER-->

        <main>
            <!--SEGUNDO HEADER-->   
            <section class="cabecalho w3-container w3-row">
            <div class="header2">
                <div class="cab-frase w3-container">
                    <img class="frase w3-center" src="img/fraseHome.png" alt="Comece a aprender programação agora!"><br><br><br>
                    <div class="objetivo">
                        <p class="frase2 w3-center">Nosso objetivo é ajudar você a aprender programação de forma autodidata, criando autonomia nos estudos e tendo total controle no que e quando estudar. Criamos esse site para te guiar no começo dos estudos, 
                        onde muitas vezes ficamos perdidos com tanto conteúdo que tem disponibilizado na internet.</p><br>
                    </div>
                </div>
                <div class="cab-imagem w3-container">
                    <img class="imagem" src="img/cabecalho2.png" alt="menina programando">
                </div>
            </div>
            </section>
            <!--SEGUNDO HEADER--> 


             <!--MOSTRANDO OS GUIAS DE ESTUDOS-->
            <section class="w3-container w3-center">
                <br><br>
                <h4 class="guia1">Guias de estudos: </h4>

                <!--Card unico dos guias-->
                <div class="justify-content-around container-fluid container-cursos content-cursos"> 
                    <script src="js/homeCards.js"></script>
                    <section id="listaGuias" class="row" >
                        <div class="col guias cards guiasEstudos"><br>
                          <div class="row card produto cartao " style="background-color: #F4F8FF; align-items: center; border: none;">
                            <img id="javascript" src="" class="card-img-top imguia" alt="">
                            <div class="card-body">
                              <h3 class="card-title title-body-javascript titulo" style="text-align: center;"></h3>
                              <p class="card-text paragaph-body-javascript">
                                <br/>
                                <span class="badge bg-success"></span>
                              </p>
                            </div>
                          </div>
                        </div>
                    </section>
                </div><br>
                <!--Card unico dos guias-->
                <div class="clique">
                <a class="guia h4" href="/guia-estudos">Clique aqui para ver com mais detalhes os contéudos que serão abordados em cada trilha</a>
                </div>
            </section><br><br><br>
            <!--MOSTRANDO OS GUIAS DE ESTUDOS-->
            
             <!--PARTE TRES-->
             <section>
             <div>
                <img class="w3-container w3-panel fraseA" src="img/frase3.svg" alt="Ser autodidata é uma necessidade">
             </div><br><br>

             <div class="FraseBb w3-container w3-center">
                <p class="aspas">"</p><p class="fraseB">Esse é o site que queriamos que tivesse quando <br>começamos a estudar por conta prórpia.</p><p class="aspas">"</p></p>
             </div>

             <section class="w3-container w3-center">
                <div class="w3-half cardC">
                    <h4 class="fraseC">Conteúdos de introdução e apronfundamento</h4>
                </div>
                <div class="w3-half cardD frasesCD">
                    <h4 class="fraseD">Preparamos exercicios e projetos para praticar <br> e melhorar sua lógica.</h4>
                </div>
             </section><br>

             <div class="w3-container w3-center">
                <p class="aspas">"</p><p class="fraseE">Existem muitos recursos por aí, mas alguns são melhores que outros. <br>Você não precisa de mais uma lista de “200+ Cursos Online Gratuitos.</p><p class="aspas">"</p>
             </div>
            </section>
            <!--PARTE TRES-->

            <!--PARTE QUATRO: RECURSOS-->
            <section>
                <div class="w3-panel frase4A">
                    <img class="frase4 w3-center" src="img/frase4.svg"><br><br>
                </div>
                <div class="w3-container w3-center">
                    <p class="aspasCard">"</p><p class="fraseCard">Ser autodidata é ter a incapacidade de conviver com a dúvida.</p><p class="aspasCard">"</p></p>
                 </div>

            </section>

            <section class="cards1">
                <div class="w3-container w3-half w3-center card1">
                    <h3 style="font-family: 'Cairo', sans-serif;">Ser autodidata</h3>
                    <p>É ter a capacidade de aprender um conteúdo de forma autônoma, ou seja, administrando seu próprio processo de estudo, basicamente, é o ato de estudar e adquirir conhecimentos por si mesmo.</p>
                </div>
                <div class="w3-container w3-half w3-center card2">
                    <h3 style="font-family: 'Cairo', sans-serif;">Guia de estudos</h3>
                    <p>Ele servirá para dar um norte para as pessoas que não sabem por onde começar ou como continuar.  Onde compartilhamos conteúdos que também utilizamos e propomos exercícios para praticar sua lógica.</p>
                </div><br></br><br>
            </section>

            <section class="cards2">
                <div class="w3-container w3-half w3-center card2">
                    <h3 style="font-family: 'Cairo', sans-serif;">Discord</h3>
                    <p>É ter a capacidade de aprender um conteúdo de forma autônoma, ou seja, administrando seu próprio processo de estudo, basicamente, é o ato de estudar e adquirir conhecimentos por si mesmo.</p>
                </div>
                <div class="w3-container w3-half w3-center card1">
                    <h3 style="font-family: 'Cairo', sans-serif;">Não somos uma lista de cursos</h3>
                    <p>Nosso objetivo é compartilhar materiais que usamos nos nossos estudos, como cursos do YT, PDF's, sites para praticar. Não iremos te dar uma lista com vários cursos gratuitos pra você ficar perdido.</p>
                </div>
            </section>

            <%- include('./partials/footer1') %>

        </main>
        <script src="js/home.js"></script>
    </body>
</html>