<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trilha Front-end</title>
    <link href="../css/trilha-frontend.css" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/9ba05cd871.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/pagina-inicial"> <img src="../svg/logo.svg" /> </a>
      </div>
      <div class="menu">
          <a href="/guia-estudos"> Voltar para Guia de estudos </a>
      </div>
    </header>
    <section class="painel">
      <div class="painel-text">
        <img src="../svg/trilha-frontend.svg" alt="guia-estudos(title)" />
        <p>
          Encontre todos os conteúdos da trilha Back-end fundamentais para o
          fortalecimento do seu conhecimento e ingressão na area de programação
        </p>
      </div>
      <div class="painel-img">
        <img src="../svg/header2.svg" />
      </div>
    </section>

    <main class="content-page">
      <h3>Conteúdos</h3>
      <ul id="lista"></ul>
    </main>
    <script src="../js/trilha-frontend.js"></script>
  </body>
</html>
