<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ciclo Back-End</title>
    <link href="css/trilha-backend.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9ba05cd871.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="logo">
            <a> <img src="svg/logo.svg"> </a>
        </div>
            <nav class="menu">
                <a href="/pagina-inicial"> Página inicial </a>
                <a href="cadastro"> Criar conta </a>
                <a href="/login"> Entrar </a>
            </nav>
    </header>

    <!-- 2 header -->
    <section class="titulo">
        <img src="svg/titulobackend">
        <p>Aprenda sobre os bastidores das funcionalidades das aplicações web.</p>
    </section>
    <h1>Conteúdo</h1>
    <main class="content-page">
        <button id="btn-card"> 
            <img src="svg/guia-basico.svg" alt="guia-basico">
            <!-- icon -->  <span> iii </span>
        </button>

        <ul id="cards"> 
            <li class="card"> 
                <img src="svg/ComoFunComputador.svg"> 
                    <h5> Como funciona o computador? </h5>
            </li>

            <li class="card">
                <img src="svg/logicaDeProgramacao.svg">
                    <h5> Lógica de programação </h5>
            </li>

            <li class="card">
                <img src="svg/github&terminal.svg">
                    <h5> GitHub & Terminal </h5>
            </li>

            <li class="card"> 
                <img src="svg/estruturaAlgoritmos.svg">
                    <h5> Estrutura de dados e algoritmos </h5> 
            </li>
        </ul>

        <button id="btn-card"> 
            <img src="svg/guia-frontend.svg" alt="guia-frontend">
                    <!-- icon -->  <span> iii </span>
        </button>

            <ul id="cards"> 
                <li class="card"> 
                    <img src="img/html1.png" alt="html">
                        <h5> HTML </h5>
                </li>
                <li class="card">
                    <img src="img/css1.png" alt="css">
                        <h5> CSS </h5>
                </li>
                <li class="card"> 
                    <img src="img/javascript1.png" alt="javascript">
                        <h5> Javascript </h5>
                </li>

                <li class="card"> 
                    <img>
                        <h5> Frameworks e bibliotecas </h5> 
                </li>
            </ul>

        <button> 
            <img src="svg/guia-backend.svg">
                    <!-- icon --> <span> iii </span>
        </button>
            <ul> 
                <li> 
                    <img>
                        <h5> Escolha uma linguagem </h5>
                </li>

                <li> 
                    <img>
                        <h5> Programação orientada a objetos </h5>
                </li>

                <li> 
                    <img src="img/mysql.png">
                        <h5> Banco de dados </h5>
                </li>

                <li> 
                    <img>
                        <h5> API's </h5>
                </li>
            </ul>
    </main>

</body>
</html>