@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&family=Courier+Prime:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    height: 100vh;

}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #1C256D;
    padding: 5px;
}

.logo {
    border: solid;
    width: 18vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 17vw;
    height: 5vh;
}


.menu {
    display: flex;
    justify-content: space-around;
    width: 30vw;
    border: solid;
}

.menu a {
    font-family: 'Cairo', sans-serif;
    color: #FFF2E7;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2rem;
}

.painel {
    background-color: #1C256D;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.painel-text {
    display: flex;
    flex-direction: column;
    width: 40vw;

}

.painel-text img {
    width: 50vw;

}

.painel-text p {
    font-family: 'Cairo', sans-serif;
    color: #FFF2E7;
}

.painel-img {
    border: solid;
    margin-top: 10px;
}

.painel-img img {
    width: 30vw;
    height: 40vh;
}

.content-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E3E6FF;
}

.content-page h3 {
    font-family: 'Cairo', sans-serif;
    margin-top: 1.5rem;

}

.content-page button {
    display: flex;
    flex-direction: column;
    width: 90vw;
    max-width: 90vw;
    margin-top: 40px;
    background-color: #F9FBFF;
    border: 2px solid #2B3D99;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    padding: 10px;
    height: 8vh;
    align-items: center;
    justify-content: space-around;
}


.btn-title {
    display: flex;
    justify-content: space-between;
    width: 88vw;
    align-items: center;
    padding: 7px 0;
}

.btn-title img {
    width: 320px;
}

#text-logicaProgramacao {
    display: none;
    flex-direction: column;
    width: 70vw;
    align-items: center;
    visibility: hidden;
    padding: 5px;
    margin: 10px;
    
}

#text-logicaProgramacao p {
    border: solid;
    margin-bottom: 1rem;
    width: 60vw;
    font-family: 'Cairo', sans-serif;
    font-size: 1.2rem;
}

#text-logicaProgramacao a {
    border: solid;
    font-family: 'Cairo', sans-serif;
    padding: 5px 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2rem;

}

#btn-logicaProgramacao.active {
    height: 50vh;
}

#text-logicaProgramacao.active {
    display: flex;
    flex-direction: column;
    visibility: visible;
}

#text-dadosEalgoritmo {
    display: none;
    flex-direction: column;
    width: 70vw;
    align-items: center;
    visibility: hidden;
    padding: 5px;
    margin: 10px;
    
}

#text-dadosEalgoritmo p {
    border: solid;
    margin-bottom: 1rem;
    width: 60vw;
    font-family: 'Cairo', sans-serif;
    font-size: 1.2rem;
}

#text-dadosEalgoritmo a {
    border: solid;
    font-family: 'Cairo', sans-serif;
    padding: 5px 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2rem;

}

#btn-dadosEalgoritmo.active {
    height: 50vh;
}

#text-dadosEalgoritmo.active {
    display: flex;
    flex-direction: column;
    visibility: visible;
}

#text-gitEgithub {
    display: none;
    flex-direction: column;
    width: 70vw;
    visibility: hidden;
    align-items: center;
    padding: 5px;
    margin: 10px;
    
}

#text-gitEgithub p {
    border: solid;
    margin-bottom: 1rem;
    width: 60vw;
    font-family: 'Cairo', sans-serif;
    font-size: 1.2rem;
}

#text-gitEgithub a {
    border: solid;
    font-family: 'Cairo', sans-serif;
    padding: 5px 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2rem;

}

#btn-gitEgithub.active {
    height: 50vh;
}

#text-gitEgithub.active {
    display: flex;
    flex-direction: column;
    visibility: visible;
}