@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&family=Courier+Prime:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    height: 100vh;
    background-color: #9ea6c1ad;
}

.logo img {
    width: 17vw;
    height: 5vh;
}


.menu {
    display: flex;
    justify-content: space-around;
    width: 30vw;
}

.menu a {
    font-family: 'Cairo', sans-serif;
    color: #FFF2E7;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2rem;
}

.painel {
    background-color: #1C256D;
    display: flex;
    box-shadow: 0 0 1em #1c256d9a;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.painel-text {
    display: flex;
    flex-direction: column;
    width: 40vw;

}

.painel-text img {
    width: 50vw;

}

.painel-text p {
    font-family: 'Cairo', sans-serif;
    color: #FFF2E7;
}

.painel-img {
    margin-top: 10px;
}

.painel-img img {
    width: 30vw;
    height: 40vh;
}

.content-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-bottom: 40px;
}

.content-page button {
    display: flex;
    flex-direction: column;
    width: 90vw;
    max-width: 90vw;
    margin-top: 40px;
    background-color: #F9FBFF;
    border: 2px solid #2B3D99;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    padding: 10px;
    height: 8vh;
    /* height: 50vh;  */
    align-items: center;
    justify-content: space-around;
}

.btn-title {
    display: flex;
    justify-content: space-between;
    width: 87vw;
    align-items: center;
    padding: 7px 0;
}

.btn-title img {
    width: 18rem;
}

#content-cicloBasico {
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 70vw;
    align-items: center;
    text-align: justify;
    padding: 5px;
    visibility: hidden;
}

#content-frontEnd{
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    width: 70vw;
    align-items: center;
    padding: 5px;
    visibility: hidden;
}

#content-backEnd{
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    width: 70vw;
    align-items: center;
    padding: 5px;
    visibility: hidden;
}


.content-page div p {
    margin-bottom: 1rem;
    width: 60vw;
    font-family: 'Cairo', sans-serif;
    font-size: 1.2rem;
}

.content-page div a {
    font-family: 'Cairo', sans-serif;
    padding: 5px 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2rem;
}


#btn-cicloBasico.active {
    height: 50vh;
}

#content-cicloBasico.active {
    display: flex;
    flex-direction: column;
    visibility: visible;
}

#btn-frontEnd.active {
    height: 50vh;
}

#content-frontEnd.active {
    display: flex;
    flex-direction: column;
    visibility: visible;
}

#btn-backEnd.active {
    height: 50vh;
}

#content-backEnd.active {
    display: flex;
    flex-direction: column;
    visibility: visible;
}
