@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&family=Courier+Prime:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    background-color: #9ea6c1ad;
}

/*SEGUNDO-HEADER*/
.cabecalho{
    background-color: #1C256D;
    padding-top: 2rem;
    box-shadow: 0 0 1em #1c256d9a;
}

.frase{
    width: 35rem;
    margin-left: 9rem;
    margin-top: 2rem;
}

.frase2{
    font-family: 'Cairo', sans-serif;
    color: #FFF2E7;
    font-size: 1.3rem;
}

.imagem {width: 33rem; margin-left: 10rem;}
/*SEGUNDO-HEADER*/

/*MOSTRANDO OS GUIAS DE ESTUDOS*/
.guia, .guia1, .titulo{
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    font-size: 1.7rem;
    color: #282173;
    text-decoration: none;
}

.guia1{font-size: 2.2rem;}

.guiasEstudos{
    background-color: #F4F8FF;
    border: 0.2rem solid #19235f;
    margin: 5rem 5rem 5rem 5rem;
    box-shadow: 0 0 1rem rgb(119, 126, 145);
    transform:scale(1.10,1.10);
}

.imguia{
    display: flex;
    justify-content: center;
    width: 10rem;
}

.h4{
    cursor: pointer;
}

.h4:hover{color: #5965bd;}
/*MOSTARNDO OS GUIAS DE ESTUDOS*/

/*PARTE: SER AUTODIDATA É UMA NECESSIDADE*/
.fraseA{width: 40rem;margin-left: 4rem}

.fraseB, .fraseE, .aspas, .fraseCard, .aspasCard{
    font-family: 'Cairo', sans-serif;
    font-size: 1.9rem;
    font-weight: bold;
    
}

.fraseB{color: #213373;}
.fraseE{color: #FFF2E7; position: relative;z-index: 3000;}
.aspas{color: #AD2647; position: relative;z-index: 3000;}

.fraseC{
    background-color: #404A9B;
    padding-bottom: 5rem;
    box-shadow: -15px -15px #10195f;
    position: static;
    z-index: 2000;
}

.fraseD{
    background-color: #AD2647;
    padding-bottom: 3.5rem;
    box-shadow: -15px -15px #64031B;
}

.fraseC, .fraseD{
    font-family: 'Cairo', sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    margin: 6rem 8rem 6rem 8rem;
    padding-top: 5rem;
    position: relative;
    z-index: 3;  
    border-radius: 5px; 
}
/*PARTE: SER AUTODIDATA É UMA NECESSIDADE*/

/*PARTE: RECURSOS*/
.frase4A{background-color: #1C256D; position: relative; bottom: 30rem;}
.frase4{width: 40rem; margin-top: 40rem; margin-bottom: 1rem; margin-left: 4rem;}

.card1, .card2{
   color: #F4F8FF;
   padding-top: 3rem;
   padding-bottom: 3rem;
   font-family: 'Cairo', sans-serif;
   position: relative;
   bottom: 28rem;
   border-radius: 5rem;
}

.cards1, .cards2{
    margin: 2rem 8rem 2rem 8rem;
}

.card1{background-color: #1C256D; box-shadow: -15px -15px #151c52b1;}

.card2{background-color: #9c2a47; box-shadow: -15px -15px #7a2036ba;}

.fraseCard, .aspasCard{
    position: relative;
    bottom:28rem;
}

.aspasCard{color: #AD2647;}
.fraseCard{color: #213373;}
/*PARTE: RECURSOS*/

/*PARTE: FOOTER*/
/*PARTE: FOOTER*/

/*PARTE: TORNANDO ELA RESPONSIVA*/
@media (min-width: 700px) {
    .mobile{display: none}
}

@media (min-width: 300px) and (max-width: 700px){

    .nav-link{display:none;}
    .imagem, .frase, .fraseA, .frase4{display: none;}

    .mobile{display: block; margin-left: 0;}

    .frase2{font-size: 1rem;}
    .guias{font-size: 2rem;}
    .h4{font-size: 1.2rem;}
    .fraseHome{width:101%;}

    
    
}


/* Botão Hamburguer, página mobile! */
@media (max-width: 600px) {
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background-color: rgba(212, 84, 212, 0.533);
        height: 0px;
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active #menu {
        display: flex;
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(212, 84, 212, 0.533);
    }

    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    #hamburguer {
        border-top: 2px solid;
        width: 20px;
    }

    #hamburguer::after, #hamburguer::before {
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburguer {
        border-top-color: transparent;

    }

    #nav.active #hamburguer::after {
        transform: rotate(135deg);
        top: -7px;
    }

    #nav.active #hamburguer::before {
        transform: rotate(-135deg);
    }
}