@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&family=Courier+Prime:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  height: 100vh;
  background-color: #9ea6c1ad;
}

/*HEADER*/
header {
  background-color: #1c256d;
}

header img {
  width: 15.5rem;
  margin-left: 4rem;
}

.nav-item {
  margin-right: 5.5rem;
  font-size: 1.1rem;
}

.nav-link {
  font-family: "Rubik", sans-serif;
  color: rgb(228, 236, 252);
}

.nav-link:hover {
  color: rgb(101, 109, 199);
}

.entrar {
  border-radius: 0.2rem;
  background-color: #ab3956;
}

.entrar:hover {
  background-color: #b31a40;
  color: rgb(228, 236, 252);
}
/*HEADER*/

/* .menu i {
  width: 2vw;
  cursor: pointer;
}

.menu-itens {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.menu li:hover .itens {
  display: flex;
  flex-direction: column;
  border: solid;
}

.itens {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
} */

/* .itens li {
  list-style-type: none;
  width: 100%;
}

.itens li:hover {
  background-color: #e3e6ff;
}

.itens a:hover {
  color: #27272c;
}  */

.painel {
  background-color: #1c256d;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 0 1rem #1c256d9a;
}

.painel-text {
  display: flex;
  flex-direction: column;
  width: 50vw;
  align-items: center;
  font-size: 1.3rem;
}

.painel-text img {
  width: 27vw;
}

.painel-text p {
  font-family: "Cairo", sans-serif;
  color: #fff2e7;
}

.painel-img {
  margin-top: 10px;
}

.painel-img img {
  width: 35vw;
  height: 40vh;
}

.content-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-page h3 {
  font-family: "Cairo", sans-serif;
  margin-top: 1.5rem;
  color: #363f82;
  font-weight: 700;
  font-size: 2.3rem;
}

.content {
  display: flex;
  flex-direction: column;
  width: 80vw;
  max-width: 90vw;
  margin-top: 40px;
  background-color: #f9fbff;
  border: 2px solid #2b3d99;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  padding: 10px;
  height: 50vh;
  box-shadow: -12px -12px 0px #1c256d;
  align-items: center;
  
}

.btn-title {
  display: flex;
  justify-content: space-between;
  width: 88vw;
  align-items: center;
  padding: 7px 0;
}

.btn-title img {
  width: 320px;
}

.content-text {
  display: flex;
  flex-direction: column;
  width: 60vw;
  align-items: center;
  padding: 5px;
  margin-top: 1rem;
  height: 45vh;
  justify-content: space-around;
}

.content-text h5 {
  color: #363f82;
  font-weight: 700;
  font-family: "Cairo", sans-serif;
  font-size: 2rem;
}

.content-text p {
  margin-bottom: 1rem;
  width: 70vw;
  font-family: "Cairo", sans-serif;
  font-size: 1.3rem;
  color: #363f82;
  text-align: justify;
}

.content-text a {
  font-family: "Cairo", sans-serif;
  padding: 14px 14px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.2rem;
  background: #ad2647;
  border: 2px solid #330d0d;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 6px;
  color: #efbad4;
  text-align: center;
  width: 30vw;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .content-page h3 {
    font-size: 20px;
  }
  .content-text h5 {
    margin-bottom: 13px;
    font-size: 17px;
  }
  .content-text p {
    font-size: 1.04rem;
  }
  .content-text a {
    margin-top: 10px;
    width: 33vw;
    font-size: 1rem;
  }
}

@media (max-width: 425px) {
  .content-text h5 {
    margin-bottom: 10px;
    font-size: 15px;
  }
  .content-text p {
    font-size: 0.85rem;
  }
  .content-text a {
    margin-top: 5px;
    width: 47vw;
    font-size: 0.8rem;
  }
}

@media (max-width: 375px) {
  .content-page h3 {
    font-size: 18px;
  }
  .content-text p {
    font-size: 0.78rem;
  }
  .content-text h5 {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .content-text a {
    margin-top: 2px;
    width: 51vw;
    font-size: 0.78rem;
  }
}

@media (max-width: 320px) {
  .content-text p {
    font-size: 0.72rem;
  }
  .content-text h5 {
    font-size: 12px;
  }
  .content-page h3 {
    font-size: 17px;
  }
  .content-text a {
    margin-top: 0px;
    width: 54vw;
    font-size: 0.7rem;
  }
}

/* .content.active {
    height: 50vh;
}

.content-text.active {
    display: flex;
    flex-direction: column;
    visibility: visible;
} */
