@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&family=Courier+Prime:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*HEADER*/
header {
    background-color: #1C256D;
}

header img{
    width: 15.5rem;
    margin-left: 4rem;
}

.nav-item {
    margin-right: 5.5rem;
    font-size: 1.1rem;
}

.nav-link {
    font-family: 'Rubik', sans-serif;
    color: rgb(228, 236, 252);
}

.nav-link:hover{
    color:rgb(101, 109, 199)
}

.entrar{
    border-radius: 0.2rem;
    background-color: #ab3956;
}

.entrar:hover {background-color: #b31a40; color: rgb(228, 236, 252);}
/*HEADER*/

/* @media (max-width: 600px) {
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background-color: rgba(212, 84, 212, 0.533);
        height: 0px;
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active #menu {
        display: flex;
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(212, 84, 212, 0.533);
    }

    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    #hamburguer {
        border-top: 2px solid;
        width: 20px;
    }

    #hamburguer::after, #hamburguer::before {
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburguer {
        border-top-color: transparent;

    }

    #nav.active #hamburguer::after {
        transform: rotate(135deg);
        top: -7px;
    }

    #nav.active #hamburguer::before {
        transform: rotate(-135deg);
    }
} */